@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #100a2b;
  padding: 6px 18px;
}

#title {
  font-family: "Bai Jamjuree", sans-serif;
  color: rgb(210, 217, 223);
  font-size: 56px;
}

.atom-img {
  width: 110px;
  height: 110px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #423d60;
  padding: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.info-rules {
  display: flex;
  justify-content: center;
  padding: 4px;
}

#rule {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 32px;
  text-align: center;
  color: rgb(209, 216, 223);
}

#rule-second {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 36px;
  text-align: center;
  color: rgb(209, 216, 223);
}

.game-container {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Bai Jamjuree", sans-serif;
  color: rgb(209, 216, 223);
}

.player {
  display: flex;
  align-items: center;
  gap: 48px;
  padding: 32px;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  gap: 16px;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
}

.status {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.battle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30vh;
  gap: 200px;
}

.computer {
  display: flex;
  align-items: center;
  gap: 48px;
  padding: 32px;
}

.hand-list {
  list-style: none;
}

.hand-item {
  height: 85px;
  width: 85px;
  margin-bottom: 16px;
  transition: transform 0.3s ease-in-out;
}

.hand-item:hover {
  transform: scale(1.2);
}

.img-choice {
  height: 85px;
  width: 85px;
  display: none;
}

.hand-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#win-lose {
  font-size: 48px;
  /* display: none; */
}

.reset-game {
  margin-top: 20px;
}

#reset-btn {
  width: 150px;
  height: 60px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #c8c4e2;
  background-color: #100a2b;
  color: rgb(209, 216, 223);
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: none;
}

#reset-btn:hover {
  transform: scale(1.2);
}

footer {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 22px;
  color: rgb(209, 216, 223);
}

a {
  color: rgb(209, 216, 223);
  text-decoration: none;
}
